<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo</title>
    <link rel="stylesheet" href="/static?file=pure-min.css">
    <link rel="stylesheet" href="/static?file=style.css">
</head>
<body>
<div class="container">
    <div id="id-input-weibo-box">
        <input id="id-input-weibo" name="content">
        <button id="id-button-add" type="submit">发表新微博</button>
    </div>
    <div id="id-weibo-list">
    </div>
</div>
<script src='/static?file=ajax.js'></script>
<script src='/static?file=weibo.js'></script>
</body>
</html>